<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EMGU.CV" version="3.4.3.3016" targetFramework="net461" />
  <package id="Google.Apis" version="1.38.0" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.38.0" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.38.0" targetFramework="net461" />
  <package id="Google.Apis.YouTube.v3" version="1.38.0.1488" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.15" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net461" />
  <package id="System.Core" version="3.5.21022.801" targetFramework="net20" />
  <package id="System.ServiceModel.Primitives" version="4.5.3" targetFramework="net461" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net461" />
</packages>